*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
#container{
    width: 40vw;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    border-radius: 10px;
}
button{
    margin-bottom: 10px;
}
input{
    margin-bottom: 10px;
}
